@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600&display=swap");
:root {
  --primary:	#db4545;
  --secondary:	#242424;
  --accent1:	#000000;
  --accent2:	#000000;
  /* Technical colors */
  --texts:	var(--accent1);
  --inactive:	#000000;
  --control-bg:	#000000;
  --white:	#ffffff;
}

html {
  outline: none;
}
html > body {
  margin: 0;
  background: var(--white);
  font-family: "Inter", sans-serif;
  font-size: 14px;
}
html > body * {
  box-sizing: border-box;
  transition: 0.7s;
}
html > body > * {
  padding-left: 30px;
  padding-right: 30px;
}

::selection {
  color: var(--white);
  background: var(--primary);
}

/**
 * A file that contains default styling for:
 * p, b, a
 *
 */
p, b {
  max-width: 80ch;
  color: var(--texts);
  display: inline-block;
}

b {
  color: var(--primary);
}

a {
  text-decoration: underline dotted;
  color: var(--primary);
}
a:hover:not([class]) {
  text-decoration: none;
}

h1 {
  font-size: 34px;
}

[text-center] {
  text-align: center;
}

[text-justify] {
  text-align: justify;
}

[mark-white] {
  background: var(--white);
}

[dimmed] {
  filter: brightness(0.6);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  background: var(--secondary);
}
header > img {
  width: auto;
  height: 100%;
}
header > div {
  display: flex;
  align-items: center;
}
header > div > * {
  display: block;
  padding: 10px;
}
header > div > a {
  color: var(--white);
  text-decoration: none;
}
header > div > a:hover {
  text-decoration: underline !important;
}
section {
  display: flex;
  flex-direction: column;
  padding: 30px 0px;
}
section[hero] {
  display: block;
  position: relative;
  padding: 40px;
  overflow: hidden;
  color: var(--white);
}
section[hero] p {
  color: var(--white);
}
section[hero] > img:first-of-type {
  width: 100%;
  height: auto;
  filter: brightness(0.4);
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
section[center] {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 650px) {
  section[hero] > img:first-of-type {
    width: auto;
    height: 100%;
  }
}
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 30px;
  background: var(--secondary);
}
footer b {
  color: var(--white);
}
footer a {
  color: var(--white);
  filter: brightness(0.6);
}
footer > img {
  height: max-content;
}
footer > links {
  display: flex;
  flex-wrap: wrap;
}
footer > links > div {
  margin: 10px;
  display: flex;
  flex-direction: column;
}
footer > links > div > * {
  margin-top: 3.3333333333px;
  margin-bottom: 3.3333333333px;
}
footer > contact {
  display: flex;
  flex-direction: column;
}
footer > contact > p {
  color: var(--white);
}
footer > contact > div {
  display: flex;
}
footer > contact > div > a {
  font-size: 24px;
  color: var(--white);
}

.cta-pr-btn {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
  padding: 10px;
  color: var(--white);
  background: var(--primary);
}
.cta-pr-btn[margin] {
  margin: 10px;
}
.cta-pr-btn:hover {
  filter: brightness(0.8);
}
.cta-sc-btn {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
  padding: 10px;
  color: var(--primary);
}
.cta-sc-btn[margin] {
  margin: 10px;
}
.cta-sc-btn:hover {
  text-decoration: underline;
}
.cta-gh-pr-btn {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
  padding: 10px;
  color: var(--primary);
  border: 2px solid;
}
.cta-gh-pr-btn[margin] {
  margin: 10px;
}
.cta-gh-sc-btn {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
  padding: 10px;
  color: var(--primary);
  border: 2px dotted;
}
.cta-gh-sc-btn[margin] {
  margin: 10px;
}
.cta-gh-sc-btn[hover-white]:hover {
  color: var(--white);
}

input, textarea {
  padding: 10px;
  margin: 5px 0px;
  border-radius: 3px;
  border: 1px solid;
  font-family: inherit;
  font-size: smaller;
  color: var(--primary);
  background: var(--secondary);
}
input[white], textarea[white] {
  color: var(--white);
  background: var(--secondary);
}
input[resize-horizontal], textarea[resize-horizontal] {
  resize: horizontal;
}
input[resize-vertical], textarea[resize-vertical] {
  resize: vertical;
}
input[no-resize], textarea[no-resize] {
  resize: none;
}

flex {
  display: flex;
}
flex[column] {
  flex-direction: column;
}

grid {
  display: grid;
  grid-gap: 30px;
}
grid[size="25"] {
  grid-template-columns: repeat(auto-fill, minmax(25px, 1fr));
}
grid[size="25"][center] {
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
}
grid[size="50"] {
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
}
grid[size="50"][center] {
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}
grid[size="75"] {
  grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
}
grid[size="75"][center] {
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
}
grid[size="100"] {
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
grid[size="100"][center] {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
grid[size="125"] {
  grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
}
grid[size="125"][center] {
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
}
grid[size="150"] {
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
grid[size="150"][center] {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
grid[size="175"] {
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
}
grid[size="175"][center] {
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
}
grid[size="200"] {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
grid[size="200"][center] {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
grid > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
grid > div > div > img {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}
grid > div > div > b {
  margin-top: 10px;
}
grid > div > div > p {
  text-align: justify;
}
grid > div[center] {
  text-align: center;
}

[only-mobile] {
  display: none;
}

@media screen and (max-width: 660px) {
  [only-mobile] {
    display: block;
  }

  [only-big-screen] {
    display: none;
  }
}
[width-0] {
  width: 0%;
}

[height-0] {
  height: 0%;
}

[maxwidth-0] {
  max-width: 0%;
}

[maxheight-0] {
  max-height: 0%;
}

[width-5] {
  width: 5%;
}

[height-5] {
  height: 5%;
}

[maxwidth-5] {
  max-width: 5%;
}

[maxheight-5] {
  max-height: 5%;
}

[width-10] {
  width: 10%;
}

[height-10] {
  height: 10%;
}

[maxwidth-10] {
  max-width: 10%;
}

[maxheight-10] {
  max-height: 10%;
}

[width-15] {
  width: 15%;
}

[height-15] {
  height: 15%;
}

[maxwidth-15] {
  max-width: 15%;
}

[maxheight-15] {
  max-height: 15%;
}

[width-20] {
  width: 20%;
}

[height-20] {
  height: 20%;
}

[maxwidth-20] {
  max-width: 20%;
}

[maxheight-20] {
  max-height: 20%;
}

[width-25] {
  width: 25%;
}

[height-25] {
  height: 25%;
}

[maxwidth-25] {
  max-width: 25%;
}

[maxheight-25] {
  max-height: 25%;
}

[width-30] {
  width: 30%;
}

[height-30] {
  height: 30%;
}

[maxwidth-30] {
  max-width: 30%;
}

[maxheight-30] {
  max-height: 30%;
}

[width-35] {
  width: 35%;
}

[height-35] {
  height: 35%;
}

[maxwidth-35] {
  max-width: 35%;
}

[maxheight-35] {
  max-height: 35%;
}

[width-40] {
  width: 40%;
}

[height-40] {
  height: 40%;
}

[maxwidth-40] {
  max-width: 40%;
}

[maxheight-40] {
  max-height: 40%;
}

[width-45] {
  width: 45%;
}

[height-45] {
  height: 45%;
}

[maxwidth-45] {
  max-width: 45%;
}

[maxheight-45] {
  max-height: 45%;
}

[width-50] {
  width: 50%;
}

[height-50] {
  height: 50%;
}

[maxwidth-50] {
  max-width: 50%;
}

[maxheight-50] {
  max-height: 50%;
}

[width-55] {
  width: 55%;
}

[height-55] {
  height: 55%;
}

[maxwidth-55] {
  max-width: 55%;
}

[maxheight-55] {
  max-height: 55%;
}

[width-60] {
  width: 60%;
}

[height-60] {
  height: 60%;
}

[maxwidth-60] {
  max-width: 60%;
}

[maxheight-60] {
  max-height: 60%;
}

[width-65] {
  width: 65%;
}

[height-65] {
  height: 65%;
}

[maxwidth-65] {
  max-width: 65%;
}

[maxheight-65] {
  max-height: 65%;
}

[width-70] {
  width: 70%;
}

[height-70] {
  height: 70%;
}

[maxwidth-70] {
  max-width: 70%;
}

[maxheight-70] {
  max-height: 70%;
}

[width-75] {
  width: 75%;
}

[height-75] {
  height: 75%;
}

[maxwidth-75] {
  max-width: 75%;
}

[maxheight-75] {
  max-height: 75%;
}

[width-80] {
  width: 80%;
}

[height-80] {
  height: 80%;
}

[maxwidth-80] {
  max-width: 80%;
}

[maxheight-80] {
  max-height: 80%;
}

[width-85] {
  width: 85%;
}

[height-85] {
  height: 85%;
}

[maxwidth-85] {
  max-width: 85%;
}

[maxheight-85] {
  max-height: 85%;
}

[width-90] {
  width: 90%;
}

[height-90] {
  height: 90%;
}

[maxwidth-90] {
  max-width: 90%;
}

[maxheight-90] {
  max-height: 90%;
}

[width-95] {
  width: 95%;
}

[height-95] {
  height: 95%;
}

[maxwidth-95] {
  max-width: 95%;
}

[maxheight-95] {
  max-height: 95%;
}

[width-100] {
  width: 100%;
}

[height-100] {
  height: 100%;
}

[maxwidth-100] {
  max-width: 100%;
}

[maxheight-100] {
  max-height: 100%;
}

[width-paragraph] {
  width: 80ch;
}

img {
  max-width: 100%;
}
img[round] {
  border-radius: 9px;
}
img[circle] {
  border-radius: 100%;
}
img[maxcontent] {
  width: auto;
  height: 100%;
}
img[darker-5] {
  filter: brightness(0.05) !important;
}
img[darker-10] {
  filter: brightness(0.1) !important;
}
img[darker-15] {
  filter: brightness(0.15) !important;
}
img[darker-20] {
  filter: brightness(0.2) !important;
}
img[darker-25] {
  filter: brightness(0.25) !important;
}
img[darker-30] {
  filter: brightness(0.3) !important;
}
img[darker-35] {
  filter: brightness(0.35) !important;
}
img[darker-40] {
  filter: brightness(0.4) !important;
}
img[darker-45] {
  filter: brightness(0.45) !important;
}
img[darker-50] {
  filter: brightness(0.5) !important;
}
img[darker-55] {
  filter: brightness(0.55) !important;
}
img[darker-60] {
  filter: brightness(0.6) !important;
}
img[darker-65] {
  filter: brightness(0.65) !important;
}
img[darker-70] {
  filter: brightness(0.7) !important;
}
img[darker-75] {
  filter: brightness(0.75) !important;
}
img[darker-80] {
  filter: brightness(0.8) !important;
}
img[darker-85] {
  filter: brightness(0.85) !important;
}
img[darker-90] {
  filter: brightness(0.9) !important;
}

[box-glowy-2] {
  box-shadow: 0px 0px 2px var(--white);
}

[box-glowy-5] {
  box-shadow: 0px 0px 5px var(--white);
}

[box-glowy-15] {
  box-shadow: 0px 0px 15px var(--white);
}

[box-glowy-20] {
  box-shadow: 0px 0px 20px var(--white);
}

label {
  padding: 2px 5px;
  color: white;
  font-size: 10px;
  display: inline-block;
  border-radius: 3px;
}
label.purple {
  background: blueviolet;
}
label.orange {
  background: orange;
}
label.blue {
  background: cadetblue;
}
label.cornblue {
  background: cornflowerblue;
}

[no-transition] {
  transition: none;
}