@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600&display=swap");
:root {
  --primary:	#db4545;
  --secondary:	#242424;
  --accent1:	#000000;
  --accent2:	#000000;
  /* Technical colors */
  --texts:	var(--accent1);
  --inactive:	#000000;
  --control-bg:	#000000;
  --white:	#ffffff;
}

html {
  outline: none;
}
html > body {
  margin: 0;
  background: var(--white);
  font-family: "Inter", sans-serif;
  font-size: 14px;
}
html > body * {
  box-sizing: border-box;
  transition: 0.7s;
}
html > body > * {
  padding-left: 30px;
  padding-right: 30px;
}

::selection {
  color: var(--white);
  background: var(--primary);
}

/**
 * A file that contains default styling for:
 * p, b, a
 *
 */
p, b {
  max-width: 80ch;
  color: var(--texts);
  display: inline-block;
}

b {
  color: var(--primary);
}

a {
  text-decoration: underline dotted;
  color: var(--primary);
}
a:hover:not([class]) {
  text-decoration: none;
}

h1 {
  font-size: 34px;
}

[text-center] {
  text-align: center;
}

[text-justify] {
  text-align: justify;
}

[mark-white] {
  background: var(--white);
}

[dimmed] {
  filter: brightness(0.6);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  background: var(--secondary);
}
header > img {
  width: auto;
  height: 100%;
}
header > div {
  display: flex;
  align-items: center;
}
header > div > * {
  display: block;
  padding: 10px;
}
header > div > a {
  color: var(--white);
  text-decoration: none;
}
header > div > a:hover {
  text-decoration: underline !important;
}
section {
  display: flex;
  flex-direction: column;
  padding: 30px 0px;
}
section[hero] {
  display: block;
  position: relative;
  padding: 40px;
  overflow: hidden;
  color: var(--white);
}
section[hero] p {
  color: var(--white);
}
section[hero] > img:first-of-type {
  width: 100%;
  height: auto;
  filter: brightness(0.4);
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
section[center] {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 650px) {
  section[hero] > img:first-of-type {
    width: auto;
    height: 100%;
  }
}
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 30px;
  background: var(--secondary);
}
footer b {
  color: var(--white);
}
footer a {
  color: var(--white);
  filter: brightness(0.6);
}
footer > img {
  height: max-content;
}
footer > links {
  display: flex;
  flex-wrap: wrap;
}
footer > links > div {
  margin: 10px;
  display: flex;
  flex-direction: column;
}
footer > links > div > * {
  margin-top: 3.3333333333px;
  margin-bottom: 3.3333333333px;
}
footer > contact {
  display: flex;
  flex-direction: column;
}
footer > contact > p {
  color: var(--white);
}
footer > contact > div {
  display: flex;
}
footer > contact > div > a {
  font-size: 24px;
  color: var(--white);
}

.cta-pr-btn {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
  padding: 10px;
  color: var(--white);
  background: var(--primary);
}
.cta-pr-btn[margin] {
  margin: 10px;
}
.cta-pr-btn:hover {
  filter: brightness(0.8);
}
.cta-sc-btn {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
  padding: 10px;
  color: var(--primary);
}
.cta-sc-btn[margin] {
  margin: 10px;
}
.cta-sc-btn:hover {
  text-decoration: underline;
}
.cta-gh-pr-btn {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
  padding: 10px;
  color: var(--primary);
  border: 2px solid;
}
.cta-gh-pr-btn[margin] {
  margin: 10px;
}
.cta-gh-sc-btn {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
  padding: 10px;
  color: var(--primary);
  border: 2px dotted;
}
.cta-gh-sc-btn[margin] {
  margin: 10px;
}
.cta-gh-sc-btn[hover-white]:hover {
  color: var(--white);
}

input, textarea {
  padding: 10px;
  margin: 5px 0px;
  border-radius: 3px;
  border: 1px solid;
  font-family: inherit;
  font-size: smaller;
  color: var(--primary);
  background: var(--secondary);
}
input[white], textarea[white] {
  color: var(--white);
  background: var(--secondary);
}

flex {
  display: flex;
}
flex[column] {
  flex-direction: column;
}

grid {
  display: grid;
  grid-gap: 30px;
}
grid[size="25"] {
  grid-template-columns: repeat(auto-fill, minmax(25px, 1fr));
}
grid[size="25"][center] {
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
}
grid[size="50"] {
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
}
grid[size="50"][center] {
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}
grid[size="75"] {
  grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
}
grid[size="75"][center] {
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
}
grid[size="100"] {
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
grid[size="100"][center] {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
grid[size="125"] {
  grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
}
grid[size="125"][center] {
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
}
grid[size="150"] {
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
grid[size="150"][center] {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
grid[size="175"] {
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
}
grid[size="175"][center] {
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
}
grid[size="200"] {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
grid[size="200"][center] {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
grid > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
grid > div > div > img {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}
grid > div > div > b {
  margin-top: 10px;
}
grid > div > div > p {
  text-align: justify;
}
grid > div[center] {
  text-align: center;
}

img {
  max-width: 100%;
}
img[round] {
  border-radius: 9px;
}
img[circle] {
  border-radius: 100%;
}
img[maxcontent] {
  width: auto;
  height: 100%;
}
img[darker-5] {
  filter: brightness(0.05);
}
img[darker-10] {
  filter: brightness(0.1);
}
img[darker-15] {
  filter: brightness(0.15);
}
img[darker-20] {
  filter: brightness(0.2);
}
img[darker-25] {
  filter: brightness(0.25);
}
img[darker-30] {
  filter: brightness(0.3);
}
img[darker-35] {
  filter: brightness(0.35);
}
img[darker-40] {
  filter: brightness(0.4);
}
img[darker-45] {
  filter: brightness(0.45);
}
img[darker-50] {
  filter: brightness(0.5);
}
img[darker-55] {
  filter: brightness(0.55);
}
img[darker-60] {
  filter: brightness(0.6);
}
img[darker-65] {
  filter: brightness(0.65);
}
img[darker-70] {
  filter: brightness(0.7);
}
img[darker-75] {
  filter: brightness(0.75);
}
img[darker-80] {
  filter: brightness(0.8);
}
img[darker-85] {
  filter: brightness(0.85);
}
img[darker-90] {
  filter: brightness(0.9);
}

[box-glowy-2] {
  box-shadow: 0px 0px 2px var(--white);
}

[box-glowy-5] {
  box-shadow: 0px 0px 5px var(--white);
}

[box-glowy-15] {
  box-shadow: 0px 0px 15px var(--white);
}

[box-glowy-20] {
  box-shadow: 0px 0px 20px var(--white);
}

[only-mobile] {
  display: none;
}

@media screen and (max-width: 660px) {
  [only-mobile] {
    display: block;
  }

  [only-big-screen] {
    display: none;
  }
}
label {
  padding: 2px 5px;
  color: white;
  font-size: 10px;
  display: inline-block;
  border-radius: 3px;
}
label.purple {
  background: blueviolet;
}
label.orange {
  background: orange;
}
label.blue {
  background: cadetblue;
}
label.cornblue {
  background: cornflowerblue;
}

[no-transition] {
  transition: none;
}