@import "mixins";

$atomic-float-start: left;
$atomic-float-end: right;
$spacing-unit: 10px;

$atomic-font-size-xs: 9px;
$atomic-font-size-sm: 11px;
$atomic-font-size-df: 14px;
$atomic-font-size-lg: 22px;
$atomic-font-size-xl: 36px;

$atomic-text-align-start: left;
$atomic-text-align-end: right;

$atomic-color-primary: $primary;
$atomic-color-accent: $accent1;

.w-mc { width: max-content; }
.h-mc { height: max-content; }

.pos {
	position: relative;
	&-r  { position: relative; }
	&-s  { position: static; }
	&-st { position: sticky; }
	&-a  { position: absolute; }
	&-f  { position: fixed; }
}

.trbl {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.t { top: 0; &-a { top: auto } }
.r { right: 0; &-a { right: auto } }
.b { bottom: 0; &-a { bottom: auto } }
.l { left: 0; &-a { left: auto } }

@for $i from 1 through 10 {
	.t-#{$i} { top: #{$i * 5}px; }
	.r-#{$i} { right: #{$i * 5}px; }
	.b-#{$i} { bottom: #{$i * 5}px; }
	.l-#{$i} { left: #{$i * 5}px; }
}

.fl {
	float: $atomic-float-start;
	&-st { float: $atomic-float-start; }
	&-nd { float: $atomic-float-end; }
	&-n  { float: none; }
}

.cl {
	clear: both;
	&-b {  clear: both; }
	&-st { clear: $atomic-float-start; }
	&-nd { clear: $atomic-float-end; }
}

.d {
	display: block;
	&-b {  display: block; }
	&-n {  display: none; }
	&-i {  display: inline; }
	&-ib { display: inline-block; }
	&-g {  display: grid; }
}

.g-t-c {
	@for $i from 25 through 1000 {
		@if $i % 25 == 0 {
			&-#{$i} {
				grid-template-columns: repeat(auto-fill, minmax(#{min}(#{$i}px, 100%), 1fr));
			}
		}
	}
}

.g-g {
	@for $i from 1 through 10 {
		&-#{$i} {
			grid-gap: #{$i}rem;
		}
	}
}

.v {
	visibility: hidden;
	&-h { visibility: hidden; }
	&-v { visibility: visible; }
}

.ov {
	overflow: hidden;
	&-h { overflow: hidden; }
	&-v { overflow: visible; }
	&-s { overflow: scroll; }
	&-a { overflow: auto; }
}

.ovx {
	overflow-x: hidden;
	&-h { overflow-x: hidden; }
	&-v { overflow-x: visible; }
	&-s { overflow-x: scroll; }
	&-a { overflow-x: auto; }
}

.ovy {
	overflow-y: hidden;
	&-h { overflow-y: hidden; }
	&-v { overflow-y: visible; }
	&-s { overflow-y: scroll; }
	&-a { overflow-y: auto; }
}

// Margin, padding, and sizing
.m-a {   margin: auto; }
.mt-a {  margin-top: auto; }
.mr-a {  margin-right: auto; }
.mb-a {  margin-bottom: auto; }
.ml-a {  margin-left: auto; }
.mtb-a {
	margin-top: auto;
	margin-bottom: auto;
}
.mlr-a {
	margin-left: auto;
	margin-right: auto;
}

@include atomic-margin(0);
@include atomic-margin(1);
@include atomic-margin(2);
@include atomic-margin(3);
@include atomic-fractional-margin(1,2);
@include atomic-fractional-margin(1,3);
@include atomic-fractional-margin(1,4);
@include atomic-fractional-margin(2,3);

.p-a {    padding: auto; }
.pt-a {   padding-top: auto; }
.pr-a {   padding-right: auto; }
.pb-a {   padding-bottom: auto; }
.pl-a {   padding-left: auto; }
.ptb-a {  padding-top: auto;    padding-bottom: auto; }
.plr-a {  padding-left: auto;   padding-right: auto; }

@include atomic-padding(0);
@include atomic-padding(1);
@include atomic-padding(2);
@include atomic-padding(3);
@include atomic-fractional-padding(1,2);
@include atomic-fractional-padding(1,3);
@include atomic-fractional-padding(1,4);
@include atomic-fractional-padding(2,3);

@include atomic-size-generator(1,2);
@include atomic-size-generator(1,3);
@include atomic-size-generator(1,4);
@include atomic-size-generator(1,5);
@include atomic-size-generator(1,6);
@include atomic-size-generator(2,3);
@include atomic-size-generator(3,4);
@include atomic-size-generator(2,5);
@include atomic-size-generator(3,5);
@include atomic-size-generator(4,5);
@include atomic-size-generator(5,6);
@include atomic-size-generator(1,1);

@for $i from 0 through 100 {
	@include atomic-size-generator($i, 100);
	@media screen and (max-width: 600px) {
		.w {
			&-#{$i}-100 {
				width: 100% !important;
			}
		}
	}
}

@for $i from 0 through 10 {

	.flex-#{$i} {
		flex: $i;
	}

	.vw-#{$i} {
		width: #{$i * 10}vw;
	}

	.vh-#{$i} {
		height: #{$i * 10}vh;
	}
}

.w-av { width: -moz-available; width: -webkit-fill-available; width: fill-available; }
.w-a { width: auto; }
.h-a { height: auto; }

@media screen and (max-width: 600px) {
	.w {
		&-1-6, &-1-4, &-1-3,
		&-1-2, &-2-3, &-5-6,
		&-1-1, &-3-4, &-1-5,
		&-2-5, &-3-5, &-4-5 {
			width: 100% !important;
		}
	}
}

@for $i from 0 through 10 {
	.w-fr-#{$i} { width: #{$i}fr; }
	.h-fr-#{$i} { height: #{$i}fr; }
}

// Typography
.fw {
	font-weight: normal;
	&-n {  font-weight: normal; }
	&-b {  font-weight: bold; }
	&-br { font-weight: bolder; }
	&-lr { font-weight: lighter; }
	&-1 {  font-weight: 100; }
	&-2 {  font-weight: 200; }
	&-3 {  font-weight: 300; }
	&-4 {  font-weight: 400; }
	&-5 {  font-weight: 500; }
	&-6 {  font-weight: 600; }
	&-7 {  font-weight: 700; }
	&-8 {  font-weight: 800; }
}

.fs {
	font-style: normal;
	&-n {  font-style: normal; }
	&-i {  font-style: italic; }
}

.fz {
	&-xs { font-size: $atomic-font-size-xs; }
	&-sm { font-size: $atomic-font-size-sm; }
	&-df { font-size: $atomic-font-size-df; }
	&-lg { font-size: $atomic-font-size-lg; }
	&-xl { font-size: $atomic-font-size-xl; }
}

.fwrap {
	&-n { flex-wrap: nowrap; }
	&-w { flex-wrap: wrap; }
	&-wr { flex-wrap: wrap-reverse; }
}

.va {
	vertical-align: top;
	&-t {  vertical-align: top; }
	&-m {  vertical-align: middle; }
	&-bl { vertical-align: baseline; }
	&-b {  vertical-align: bottom; }
}

.d {
	display: block;
	&-n { display: none; }
	&-f { display: flex; }
	&-f-c { display: flex; flex-direction: column; }
}

.al {
	&-c {
		&-c { align-content: center; }
		&-fs { align-content: flex-start; }
		&-fe { align-content: flex-end; }
		&-sa { align-content: space-around; }
		&-sb { align-content: space-between; }
	}

	&-i {
		&-c { align-items: center; }
		&-fs { align-items: flex-start; }
		&-fe { align-items: flex-end; }
	}
}

.jf {
	&-c { justify-content: center; }
	&-fs { justify-content: flex-start; }
	&-fe { justify-content: flex-end; }
	&-sa { justify-content: space-around; }
	&-sb { justify-content: space-between; }
}

.ta{
	text-align: $atomic-text-align-start;
	&-st { text-align: $atomic-text-align-start; }
	&-nd { text-align: $atomic-text-align-end; }
	&-c {  text-align: center; }
	&-j {  text-align: justify; }
}

.td {
	text-decoration: none;
	&-n { text-decoration: none; }
	&-u { text-decoration: underline; }
	&-l { text-decoration: line-through; }
}

.tt {
	text-transform: uppercase;
	&-u { text-transform: uppercase; }
	&-n { text-transform: none; }
	&-c { text-transform: capitalize; }
	&-l { text-transform: lowercase; }
}

.lh-1 { line-height: 1; }

.whs {
	&-n {  white-space: normal; }
	&-p {  white-space: pre; }
	&-nw { white-space: nowrap; }
}

// Background
.bg-n { background: none; }
.bgc {
	&-w { background-color: white; }
	&-b { background-color: #201c1e; }
	&-t { background-color: transparent; }
	&-pr { background-color: $primary; }
	&-sc { background-color: $secondary; }
	&-ac1 { background-color: $accent1; }
	&-ac2 { background-color: $accent2; }
}

// Color
.c {
	&-w { color: white; }
	&-b { color: #201c1e; }
	&-pr { color: $primary; }
	&-sc { color: $secondary; }
	&-ac1 { color: $accent1; }
	&-ac2 { color: $accent2; }
}

.op {
	&-0 {  opacity: 0; }
	&-2 {  opacity: 0.2; }
	&-4 {  opacity: 0.4; }
	&-6 {  opacity: 0.6; }
	&-8 {  opacity: 0.8; }
	&-10 { opacity: 1; }
}

// Outline
.ol-n { outline: none; }


// Border
.bd-n {   border: none; }
.bdcl-c { border-collapse: collapse; }
.bdrs-0 { border-radius: 0; }
.bdtrrs-0 { border-top-right-radius: 0; }
.bdtlrs-0 { border-top-left-radius: 0; }
.bdbrrs-0 { border-bottom-right-radius: 0; }
.bdblrs-0 { border-bottom-left-radius: 0; }
.bdtrs-0 {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
.bdrrs-0 {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.bdbrs-0 {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.bdlrs-0 {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

@for $i from 1 through 10 {
	.bd-#{$i} {
		border: #{$i}px solid;
	}

	.br-tl-#{$i} {
		border-top-left-radius: #{$i}px;
	}

	.br-tr-#{$i} {
		border-top-right-radius: #{$i}px;
	}

	.br-bl-#{$i} {
		border-bottom-left-radius: #{$i}px;
	}

	.br-br-#{$i} {
		border-bottom-right-radius: #{$i}px;
	}
}


// Lists
.lis-n { list-style: none; }


// Print
.pgbb {
	&-al { page-break-before: always; }
	&-l {  page-break-before: left; }
	&-r {  page-break-before: right; }
}
.pgba {
	&-al { page-break-after: always; }
	&-l {  page-break-after: left; }
	&-r {  page-break-after: right; }
}
.pgbi-av { page-break-inside: avoid; }

// z-index
@for $i from 1 through 10 {
	.zi-#{$i} {
		z-index: #{$i};
	}
}

// Misc
.cur{
	cursor: default;

	&-d { cursor: default; }
	&-a { cursor: auto; }
	&-p { cursor: pointer; }
	&-t { cursor: text; }
}
