@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans&display=swap');

// Overview
$background: #ffffff;
$footer_background: #e1e1e1;
$scroll_bar_background: #ffffff;
$scroll_bar: #ddd;

// Text
$headers_font: 'PT Sans', sans-serif;
$normal_font: 'Open Sans', sans-serif;
$hero_text: #ffffff;

$primary_text: #000000;
$secondary_text: #515151;
$hyperlink_text: #262626;

// Buttons
$cta_primary_background: #f5f5j2;
$cta_primary_color: #f4f4f4;
$cta_secondary_background: #00000000;
$cta_secondary_color: #000000;

$cta_shadow: 0px 2px 4px 3px #89898960;
$default_shadow: 0px 2px 4px 3px #89898960;
