input, textarea {
	padding: $padding;
	margin: $margin / 2 0px;

	border-radius: $radius;
	border: 1px solid;

	font-family: inherit;
	font-size: smaller;

	color: var(--primary);
	background: var(--secondary);

	&[white] {
		color: var(--white);
		background: var(--secondary);
	}

	&[resize-horizontal] {
		resize: horizontal;
	}

	&[resize-vertical] {
		resize: vertical;
	}

	&[no-resize] {
		resize: none;
	}
}
