@use "sass:math";
@mixin _atomic-margin($suffix, $margin) {
	.m-#{$suffix} { margin: $margin; }
	.mt-#{$suffix} { margin-top: $margin; }
	.mb-#{$suffix} { margin-bottom: $margin; }
	.ml-#{$suffix} { margin-left: $margin; }
	.mr-#{$suffix} { margin-right: $margin; }
	.mtb-#{$suffix} {
		margin-top: $margin;
		margin-bottom: $margin;
	}
	.mlr-#{$suffix} {
		margin-left: $margin;
		margin-right: $margin;
	}
}

@mixin atomic-margin($margin) {
	@include _atomic-margin($margin, $margin*$spacing-unit);
}

@mixin atomic-fractional-margin($numerator, $denominator) {
	@include _atomic-margin(#{$numerator}-#{$denominator}, math.floor($numerator*$spacing-unit/$denominator));
}

@mixin _atomic-padding($suffix, $padding) {
	.p-#{$suffix} { padding: $padding; }
	.pt-#{$suffix} { padding-top: $padding; }
	.pb-#{$suffix} { padding-bottom: $padding; }
	.pl-#{$suffix} { padding-left: $padding; }
	.pr-#{$suffix} { padding-right: $padding; }
	.ptb-#{$suffix} {
		padding-top: $padding;
		padding-bottom: $padding;
	}
	.plr-#{$suffix} {
		padding-left: $padding;
		padding-right: $padding;
	}
}

@mixin atomic-padding($padding) {
	@include _atomic-padding($padding, $padding*$spacing-unit);
}

@mixin atomic-fractional-padding($numerator, $denominator) {
	@include _atomic-padding(#{$numerator}-#{$denominator}, math.floor($numerator*$spacing-unit/$denominator));
}

@mixin atomic-size-generator($numerator, $denominator) {
	.w-#{$numerator}-#{$denominator} {	width		: 100% * (math.floor(100000*$numerator/$denominator)/100000); }
	.h-#{$numerator}-#{$denominator} {	height		: 100% * (math.floor(100000*$numerator/$denominator)/100000); }
	.minw-#{$numerator}-#{$denominator} {	min-width	: 100% * (math.floor(100000*$numerator/$denominator)/100000); }
	.minh-#{$numerator}-#{$denominator} {	min-height	: 100% * (math.floor(100000*$numerator/$denominator)/100000); }
	.maxw-#{$numerator}-#{$denominator} {	max-width	: 100% * (math.floor(100000*$numerator/$denominator)/100000); }
	.maxh-#{$numerator}-#{$denominator} {	max-height	: 100% * (math.floor(100000*$numerator/$denominator)/100000); }
}
