table, td, th {
	border: 1px solid var(--accent1);
	border-collapse: collapse;
}

table[cellspacing="0"] {
	border: 0;
	* { border: 0; }
}

td, th {
	padding: 10px;
}

tr {
	&:nth-child(even) {
		background-color: var(--accent1);
	}

	&:nth-child(odd) {
		background-color: var(--primary);
	}
}
